
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("_HeadPartial.cshtml", "Admin")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("_NavbarPartial.cshtml", "Admin")

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            @await Html.PartialAsync("_SidebarPartial.cshtml", "Admin")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                @await Html.PartialAsync("_FooterPartial.cshtml", "Admin")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @await Html.PartialAsync("_ScriptPartial.cshtml", "Admin")
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
</body>
</html>